{% extends 'base.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block body %}
<h1>Nouveau Projet</h1>

{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.screenshotFile) }}
    <button class="btn btn-success">Enregistrer</button>
{{ form_end(form) }}
{% endblock %}
